/* HEADER */

body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
}

header{
    background-image: url(./assets/schuur.webp);
    background-position: center;
    background-size: cover;
    /* background-color: pink; */
    height: 26rem;
    margin: 0;
}

main{

}

footer{
    background-color: antiquewhite;
}

/* MAIN */

h1{
    margin-left:2rem;
    margin-top: 3rem;
}

p{
    margin-left:2rem;
    margin-top: 2rem;
    max-width: 16rem;
    line-height: 1.4;
}

/* planning */

.planning{
    position: relative;
    width: 15rem;
    height: 24rem;
    background-image: url(./assets/fiets\ met\ plant.webp);
    background-position: center;
    background-size: cover;
    margin-left:2rem;
    border-radius: 1rem;
}

.planning-gradient{
    /* background: linear-gradient(#00000000, rgb(0, 0, 0)); */
    display: block;
    position: relative;
    text-decoration: none;
    object-fit: cover;
    float: left;
    right:1rem;
    top:12rem;
    
    & button{
        background:none;
        border: none;
        color: var(--text-off-white);
        text-decoration: underline;
    }

    & p{
        margin:0;
        color: var(--text-off-white);
    }

    h2{
        font-size: 1.4rem;
        color: var(--text-off-white)
    }
    
}

