/* HEADER */

body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
}

header{
    background-image: url(./assets/schuur.webp);
    background-position: center;
    background-size: cover;
    /* background-color: pink; */
    height: 26rem;
    margin: 0;
}

.header-stekjes{
    background-image: url(./assets/STEKJES.webp);
    background-position: center;
    background-size: cover;
    /* background-color: pink; */
    height: 26rem;
    margin: 0;
}

main{

}

footer{

}

/* MAIN */

h1{
    margin-left:2rem;
    margin-top: 6rem;
    max-width: 16rem;
}

p{
    margin-left:2rem;
    margin-right:2rem;
    margin-top: 2rem;
    /* max-width: 16rem; */
    line-height: 1.4;
    max-width: 36rem;
}

/* planning */

.product1, .product2 {
    position: relative;
    width: 15rem;
    height: 24rem;
    margin-top:5rem;
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product1{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.678)),
    url(./assets/fiets\ met\ plant.webp);
}

.product2{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.678)),
    url(./assets/Aardbei.png);
}

.planning-gradient{
    display: block;
    position: relative;
    text-decoration: none;
    object-fit: cover;
    float: left;
    right:1rem;
    top:13rem;
    
    & button{
        background:none;
        border: none;
        color: var(--primary-text-color);
        text-decoration: underline;
    }

    & p{
        margin:0;
        color: var(--primary-text-color);
    }

    h3{
        font-size: 1.4rem;
        color: var(--primary-text-color);
    }


}

/* STEKJES GRID */

.stekjes-producten{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 3.3rem 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem; 
}

.stekjes-product{
    background-color: var(--primary-background-color);
    border-radius: 1.5rem;

    display:grid;
    grid-template-rows: 8.4rem 1fr auto auto auto;
    justify-items: center;
    opacity: 0;

    /* ANIMATIE */
    animation: fadeIn 1s forwards;

    & p{
        margin-top: 0;
        width: auto;
    }

    & h3{
        align-self: center;
        font-size: 1.6rem;
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(20px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.book-cover{
    align-self:end;
    /* background-color: #f006; */

    display:grid;
    justify-items:center;
    align-items: center;
}

.book{
    position: relative;
    width: 10rem;
    display: block;

    grid-row-start: 1;
    grid-column-start: 1;
}

.plants-stekjes{
    position: relative;
    display: block;
    width: 5.5rem;
    border-radius: 0.3rem;

    grid-row-start: 1;
    grid-column-start: 1;

    translate: .96rem .99rem;
}

.description{
    font-size: 1.2rem;
}

.location{
    color: var(--secondary-text-color);
    font-size: 1rem;
}

.icon-location{
    width: 0.6rem;
    color: var(--secondary-text-color);
    display: inline-block;
    margin-right: 0.5rem;
}

.stekjes-btn{
    width: 6rem;
    height: 2rem;
    border-radius: 2rem;
    border: none;
    background-color: var(--primary-highlight-color);
    margin-bottom: 2rem;
    color: var(--primary-text-color);
}


/* AGENDA GRID */

.agenda-products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 0rem 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.agenda-product-1, .agenda-product-2, .agenda-product-3, .agenda-product-4{
    color: var(--primary-text-color);
    border-radius: 1.5rem;

    & p{
        margin-top: 0;
        width: auto;
        align-self: center;
    }

    & h2{
        align-self: end;
        font-size: 1.4rem;
        color: var(--primary-text-color);
    }
}

.agenda-product-1{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.678)),
    url(./assets/ZADEN.webp);
    background-position: center;
    background-size: cover;
}

.agenda-product-2{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.678)),
    url(./assets/fiets\ met\ plant.webp);
    background-position: center;
    background-size: cover;
}

.agenda-product-3{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.678)),
    url(./assets/Aardbei.png);
    background-position: center;
    background-size: cover;
}

.agenda-product-4{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.678)),
    url(./assets/schuur.webp);
    background-position: center;
    background-size: cover;
}

.agenda-product-details{
    display: grid;
    grid-template-rows: 17rem auto 4rem;
    text-align: left;

    & h2{

    }

    & p{
        margin: 0;
        max-width: 9rem;
    }
}





li{
    text-decoration: none;
}

ul{
    list-style: none;
}





.product-photo{
    align-items: center;
}





.grid-agenda{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;

    H1{
        width: 26rem;
    }
}

.harry{
    width: 8rem;
    position: fixed;
    display: block;
    right: -2rem;
    bottom: -2.2rem;
    transform: rotate(340deg);
    z-index: 1;
}



/* .product-photo{
    width: 5.4rem;
    position: absolute;
    display: block;
    top: 3.2rem;
    right: 4.2rem;
    border-radius: 0.3rem;
} */




/* .grid-agenda{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
} */


.agenda-intro-tekst{
    margin-bottom: 5rem;
}