/* HEADER */

body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
}

header{
    background-image: url(./assets/schuur.webp);
    background-position: center;
    background-size: cover;
    /* background-color: pink; */
    height: 26rem;
    margin: 0;
}

nav{
    width: 100%;
    background-color: black;
}

main{
    background-color: aqua;
}

footer{
    background-color: antiquewhite;
}

/* MAIN */

h1{
    margin-left:2rem;
    margin-top: 3rem;
}

p{
    margin-left:2rem;
    margin-top: 2rem;
    max-width: 16rem;
    line-height: 1.4;
}

/* article */

article{
    position: relative;
    width: 15rem;
    height: 24rem;
    background-color: brown;
    margin-left:2rem;
    border-radius: 1rem;
}